### Django
*.log
*.pot
*.pyc
__pycache__/

### Project-specific
# Uploaded files
media/
# Databases
*.sqlite3

### IDE settings
.idea/
.vscode/

### Unit test / coverage reports
.coverage
htmlcov/

### Virtual Environments
.env/

### MacOS folder definitions
.DS_Store

### Password protection
timealign/settings.py
timealign/settings.py
timealign/settings_secret.py
