Django>=3.2,<4.0
django-bootstrap3
django-ckeditor
django-filter
django-nested-admin
django-object-actions
django-picklefield
django-reversion
django-robots
django-simple-captcha
lxml
mysqlclient
numpy<1.20.0
pandas<1.2.0
perfectextractor-ui
Pillow
pyarrow
scikit-learn
scipy<1.6.0
XlsxWriter
