asgiref<3.5
click<8.1
django>=3.2,<4.0
django-bootstrap3<=15.0.0
django-ckeditor<6.4
django-filter<=2.4.0
django-nested-admin
django-object-actions<3.2
django-picklefield
django-reversion<5.0
django-robots<5.0
django-simple-captcha
django-widget-tweaks<1.4.12
joblib<1.2
lxml
mysqlclient
numpy<1.20.0
pandas<1.2.0
perfectextractor-ui
Pillow
pyarrow
scikit-learn<1.0
scipy<1.6.0
XlsxWriter
