Django>=2.2,<3.0
django-bootstrap3
django-braces
django-ckeditor
django-filter
django-nested-admin
django-object-actions
django-picklefield
lxml
mysqlclient
numpy
Pillow
scipy
scikit-learn
XlsxWriter
