<table class="table table-striped">
    <thead>
        <tr>
            <th width="40%">Scenario</th>
            <th width="40%">Languages</th>
            <th width="20%">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for scenario in corpus.list %}
        <tr>
            <td>
                {{ scenario.title }}
                {% if scenario.is_test %}<span class="label label-warning">Test</span>{% endif %}
            </td>
            <td>
                {{ scenario.from_languages }} <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> {{ scenario.to_languages }}
            </td>
            <td>
                <a href="{% url 'stats:mds' scenario.pk %}">MDS</a>
                (<a href="{% url 'stats:mds_old' scenario.pk %}">old</a>)
                <a href="{% url 'stats:descriptive' scenario.pk %}" role="button" class="btn btn-primary btn-xs" title="Descriptive statistics">
                    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                </a>
                <a href="{% url 'stats:show' scenario.pk %}" role="button" class="btn btn-primary btn-xs" title="Details">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
