{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.css">

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.22/cr-1.5.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.22/cr-1.5.2/datatables.min.js"></script>

<style>
  .chart {
    height: 300px;
    width: 33%;
    float: left;
  }

  .chart h5 {
    text-align: center;
  }

  #charts hr {
    clear: both;
  }

  #tables {
    clear: both;
  }

  .dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
  }
</style>
{% endblock %}

{% block content %}
<h2>
    Descriptive statistics for <em>{{ scenario.title }}</em>
</h2>

<div class="container">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#charts-tab" aria-controls="charts-tab" role="tab" data-toggle="tab">Charts</a></li>
    <li role="presentation"><a href="#tables" aria-controls="tables" role="tab" data-toggle="tab">Tables</a></li>
    <li role="presentation"><a href="#categories" aria-controls="categories" role="tab" data-toggle="tab">Totals per category</a></li>
    <li role="presentation"><a href="#tuples" aria-controls="tuples" role="tab" data-toggle="tab">Tuple frequencies</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="charts-tab">
        <h3>
            Charts per language
        </h3>
        <div id="charts"></div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tables">
        <h3>
            Tables per language
        </h3>
        <div class="row">
            {% for language, c in counters.items %}
            <div class="col-md-4">
                <h4>{{ language.title }}</h4>
                <table class="table table-striped freq-table">
                    <thead>
                        <tr>
                            <th>Label</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for label, fs in c.items %}
                        <tr>
                            <td>
                                {{ label }}
                            </td>
                            <td>
                                {# TODO bram: replace jquery #}
                                <a href="{% url 'stats:fragment_table'%}">{{ fs|length }}</a>
{#                                <a class="drill-through" href="#" data-fragments="{{ fs|join:',' }}">{{ fs|length }}</a>#}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if forloop.counter == 3 %}</div><div class="row">{% endif %}
            {% endfor %}
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="categories">
        <h3>
            Totals per (tense) category
        </h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    {% for language in languages %}
                    <th>{{ language.title }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for tensecat, counts in tensecat_table.items %}
                <tr>
                    {% if not tensecat %}
                    <td><em>other</em></td>
                    {% else %}
                    <th>{{ tensecat }}</th>
                    {% endif %}
                    {% for count in counts %}
                    <td>{{ count }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="tuples">
        <h3>
            Tuple frequencies
        </h3>

        <input id="toggle-dot" type="checkbox" data-toggle="toggle"> Show colors
        <input id="toggle-cat" type="checkbox" data-toggle="toggle"> Show categories
        <input id="toggle-txt" type="checkbox" checked data-toggle="toggle"> Show labels
        <table id="tuples-table" class="table table-striped">
            <thead>
                <tr>
                    {% for language in languages %}
                    <th>{{ language.title }}</th>
                    {% endfor %}
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for tuple, fs in tuples_with_fragments.items %}
                <tr>
                    {% for label in tuple %}
                    <td>
                        <span class="dot" title="{{ label }}"></span>
                        <span class="cat" title="{{ label }}"></span>
                        <span class="txt">{{ label }}</span>
                    </td>
                    {% endfor %}
                    <td>
                        {# TODO bram: replace jquery #}
                        <a href="{% url 'stats:fragment_table'%}">{{ fs|length }}</a>
{#                        <a class="drill-through" href="#" data-fragments="{{ fs|join:',' }}">{{ fs|length }}</a>#}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<!-- Form for posting fragment_ids to server -->
<form name="fragmentform" action="." method="post">
    {% csrf_token %}
    <input type="hidden" name="fragment_ids">
</form>

<script>
  // contains occurrence counts for labels by language, in the following format:
  // {'language': ['label':100, 'another_label':200]}
  var counters = {{ counters_json|safe }};

  // system-assigned color/category for each label
  var colors = {{ colors_json|safe }};
  var tensecats = {{ tensecats_json|safe }};

  // languages lookup (iso: label)
  var languages = {{ languages_json | safe }};

  // Calculates the total amount of tokens per language
  var totals = {};
  for(var language in counters) {
    totals[language] = 0;
    for(var i=0; i<counters[language].length; i++) {
      totals[language] += counters[language][i][1];
    }
  }

  function escapeHtml(unsafe) {
    return unsafe
      .replace(/&/g, "&amp;")
      .replace(/</g, "&lt;")
      .replace(/>/g, "&gt;")
      .replace(/"/g, "&quot;")
      .replace(/'/g, "&#039;");
 }

  // Adds graphs per language
  function graphLanguage(language) {
    nv.addGraph(function() {
      var chart = nv.models.discreteBarChart()
          .x(function(d) { return escapeHtml(d[0]); })
          .y(function(d) { return d[1]/totals[language]; })
          .color(function(d) { return colors[d[0]]; })
          .showXAxis(false)
          .forceY([0, 1]);

      chart.yAxis
        .tickFormat(d3.format('.0%'))
        .tickValues([0, 0.2, 0.4, 0.6, 0.8, 1.0]);

      // add an horizontal rule after every 3 charts
      if($('#charts > div').length > 0 && $('#charts > div').length % 3 == 0) {
        $('#charts').append('<hr/>');
      }
      // Add the data to the chart and start creating the chart
      var div = d3.select('#charts')
        .append('div')
        .attr('class', 'chart');

      div.append('h5').text(languages[language]);

      div.append('svg')
        .datum([{key: language, values: counters[language]}])
        .call(chart);

      nv.utils.windowResize(chart.update);
      return chart;
    });
  }

  Object.keys(counters).forEach(graphLanguage);

  $('.freq-table').DataTable({
    order: [[ 1, 'desc' ]],
    searching: false,
    paging: false,
    info: false,
  });

  // Showing the dots, categories and labels in the tuples table
  $('.dot').each(function() {
    $(this).css('background-color', colors[$(this).attr('title')]);
  });

  $('.cat').each(function() {
    $(this).text(tensecats[$(this).attr('title')]);
  });

  $('.dot').hide();
  $('.cat').hide();

  $('#toggle-dot').change(function() {
    $('.dot').toggle();
  });

  $('#toggle-cat').change(function() {
    $('.cat').toggle();
  });

  $('#toggle-txt').change(function() {
    $('.txt').toggle();
  });

  // Render tuples table as a DataTable
  var indexLastColumn = $('#tuples-table').find('tr')[0].cells.length - 1;
  $('#tuples-table').DataTable({
    order: [[ indexLastColumn, 'desc' ]],
    paging: false,
    info: false,
    colReorder: true,
    autoWidth: false,
  });
  {# TODO bram: ask martijn why this is here #}
  // Drill-through to fragments (allow to open in new tab if CTRL is pressed)
  $(".drill-through").click(function(e) {
    e.preventDefault();
    if (e.ctrlKey) {
        $('form[name="fragmentform"]').attr("target", "_blank");
    }
    else {
        $('form[name="fragmentform"]').attr("target", "_self");
    }
    $('input[name="fragment_ids"]').val(JSON.stringify($(this).attr("data-fragments").split(",")));
    $('form[name="fragmentform"]').submit();
  });
</script>

{% endblock %}
