{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.4/nv.d3.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.4/nv.d3.css">

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.21/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.21/datatables.js"></script>

<style>
  .chart {
    height: 300px;
    width: 33%;
    float: left;
  }

  .chart h5 {
    text-align: center;
  }

  #charts hr {
    clear: both;
  }

  #tables {
    clear: both;
  }

  .dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
  }
</style>
{% endblock %}

{% block content %}
<h2>
    Descriptive statistics for <em>{{ scenario.title }}</em>
</h2>


<div id="charts">
</div>

<div id="tables" class="container">
<h3>
    Totals per language
</h3>

<div class="row">
    {% for l, c in counters.items %}
    <div class="col-md-4">
        <h4>{{ l.title }}</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tense</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for t, count in c %}
                <tr>
                    <td>{{ t }} </td>
                    <td>{{ count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if forloop.counter == 3 %}</div><div class="row">{% endif %}
    {% endfor %}
</div>
</div>

<h3>
    Totals per (tense) category
</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                {% for language in languages %}
                <th>{{ language.title }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for tensecat, counts in tensecat_table.items %}
            <tr>
                {% if not tensecat %}
                <td><em>other</em></td>
                {% else %}
                <th>{{ tensecat }}</th>
                {% endif %}
                {% for count in counts %}
                <td>{{ count }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

<h3>
    Tuple frequency
</h3>

<input id="toggle-dot" type="checkbox" checked data-toggle="toggle"> Show colors
<input id="toggle-cat" type="checkbox" data-toggle="toggle"> Show categories
<input id="toggle-txt" type="checkbox" data-toggle="toggle"> Show labels
<table id="tuples-table" class="table table-striped">
    <thead>
        <tr>
            {% for language in languages %}
            <th>{{ language.title }}</th>
            {% endfor %}
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        {% for t, c in tuples %}
        <tr>
            {% for tense in t %}
            <td>
                <span class="dot" title="{{ tense }}"></span>
                <span class="cat" title="{{ tense }}"></span>
                <span class="txt">{{ tense }}</span>
            </td>
            {% endfor %}
            <td>{{ c }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
  // contains occurrence counts for tenses by language, in the following format:
  // {'language': ['tense':100, 'another_tense':200]}
  var counters = {{ counters_json|safe }};

  // system-assigned color/category for each tense
  var colors = {{ colors_json|safe }};
  var tensecats = {{ tensecats_json|safe }};

  // languages lookup (iso: label)
  var languages = {{ languages_json | safe }};

  // used for calculating the total amount of tokens per language
  var totals = {};

  for(var language in counters) {
    totals[language] = 0;
    for(var i=0; i<counters[language].length; i++) {
      totals[language] += counters[language][i][1];
    }
  }

  function graphLanguage(language) {
    nv.addGraph(function() {
      var chart = nv.models.discreteBarChart()
          .x(function(d) { return d[0]; })
          .y(function(d) { return d[1]/totals[language]; })
          .color(function(d) { return colors[d[0]]; })
          .showXAxis(false)
          .forceY([0, 1]);

      chart.yAxis.tickFormat(d3.format('.0%'));

      // add an horizontal rule after every 3 charts
      if($('#charts > div').length % 3 == 0) {
        $('#charts').append('<hr/>');
      }
      // Add the data to the chart and start creating the chart
      var div = d3.select('#charts')
        .append('div')
          .attr('class', 'chart');

      div.append('h5').text(languages[language]);

      div.append('svg')
        .datum([{key: language, values: counters[language]}])
        .call(chart);

      nv.utils.windowResize(chart.update);
      return chart;
    });
  }

  Object.keys(counters).sort().forEach(graphLanguage);

  $('.dot').each(function() {
    $(this).css('background-color', colors[$(this).attr('title')]);
  });

  $('.cat').each(function() {
    $(this).text(tensecats[$(this).attr('title')]);
  });

  $('.txt').hide();
  $('.cat').hide();

  $('#toggle-dot').change(function() {
    $('.dot').toggle();
  });

  $('#toggle-cat').change(function() {
    $('.cat').toggle();
  });

  $('#toggle-txt').change(function() {
    $('.txt').toggle();
  });

  var indexLastColumn = $('#tuples-table').find('tr')[0].cells.length - 1;
  $('#tuples-table').DataTable({
    order: [[ indexLastColumn, 'desc' ]],
    paging: false,
    info: false,
  });

</script>

{% endblock %}
