{% extends "base/base.html" %}

{% load bootstrap3 %}
{% load static %}

{% block head %}
<link href="{%static 'stats/style.css' %}" rel="stylesheet" type="text/css" />
<script src="https://unpkg.com/floatthead"></script>
<script src="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            searching: false,
            iDisplayLength: 15,
            bLengthChange: false,
            });
        $('[data-toggle="tooltip"]').tooltip({
            html: true,
            placement: "bottom"
        });
        $('[data-toggle="popover"]').popover({
            html: true,
            placement: "bottom",
            trigger: "hover",
            container: "body",
        });
        $(() => $('table').floatThead({
            zIndex: 0
        }));
    });
</script>
{% endblock %}

{% block content %}

<div>
    <div class="pull-right">
        <a href="{% url 'stats:mds' scenario.pk %}" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Back to MDS
        </a>
        <a href="{% url 'stats:upset' scenario.pk %}" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Back to Upset
        </a>
    </div>
    <h2>Fragment overview (scenario
        <em>
            <a href="{% url 'stats:show' scenario.pk %}" target="_blank">{{ scenario.title }}</a>
        </em>)
    </h2>
    <p>
        {{fragments|length}} fragment{{fragments|pluralize:"s" }}
        {% if tenses %}
        with labels:
        {% for tense in tenses %} {{tense|safe|lower}}{%if not forloop.last%},{%endif%} {% endfor %}
        {% endif %}
    </p>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Document</th>
            <th>XML ID</th>
            <th>Target words</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for f in fragments %}
        <tr>
            <td>{{ f.document.title }}</td>
            <td>{{ f.xml_ids }}</td>
            <td > 
                <span data-toggle="popover" data-content='{% include "annotations/_sentences.html" with sentences=f.sentence_set.all annotated_words=f.words.all %}' title="Source fragment">
                    {{ f.target_words|safe }}
                </span>
            </td>
            <td>
                <a href="{% url 'annotations:show' f.pk %}" role="button" class="btn btn-primary btn-xs" title="View fragment">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
