{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.4/nv.d3.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.4/nv.d3.css">
{% endblock %}

{% block content %}
<h2>Results (scenario <em><a href="{% url 'stats:show' scenario.pk %}" target="_blank">{{ scenario.title }}</a></em>)</h2>

<div class="alert alert-info" role="alert">
    This scatter plot shows the results Multidimensional Scaling of the dissimilarity matrix of tense tuples.
    Please see the <a href="{% url 'project' %}" class="alert-link">project summary</a> for more details.
</div>

<div id="chart">
    <svg style="height: 490px; width: 100%"></svg>
</div>

<h2>Filters</h2>

<div class="alert alert-info" role="alert">
    Below, you can change the labels and the dimensions displayed on the x- and y-axis.
    Click the green button to confirm your selection and update the scatter plot.
</div>

<div class="row">
    Language:
    <div id="language" class="btn-group" data-toggle="buttons">
        {% for l in languages %}
        <label class="btn btn-primary active">
            <input type="radio" name="options" value="{{ l.iso }}" autocomplete="off">{{ l.title }}
        </label>
        {% endfor %}
    </div>
    Dimension on x-axis:
    <div id="d1" class="btn-group" data-toggle="buttons">
        {% for d in max_dimensions %}
        <label class="btn btn-primary active">
            <input type="radio" name="options" value="{{ d }}" autocomplete="off">{{ d }}
        </label>
        {% endfor %}
    </div>
    Dimension on y-axis:
    <div id="d2" class="btn-group" data-toggle="buttons">
        {% for d in max_dimensions %}
        <label class="btn btn-primary active">
            <input type="radio" name="options" value="{{ d }}" autocomplete="off">{{ d }}
        </label>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-success">
        {% bootstrap_icon "ok" %} Go!
    </button>
</div>

<script>
    var matrix = {{ matrix|safe }};

    nv.addGraph(function() {
        // Start a scatter plot, force the X and Y axis to good defaults,
        // and use specific colors for tenses rather than the defaults
        var chart = nv.models.scatterChart()
            .forceX([-.5, .5])
            .forceY([-.5, .5])
            .color(function(d) { return d.color; });

        // Set a proper tick format for the axes
        chart.xAxis.tickFormat(d3.format('.02f'));
        chart.yAxis.tickFormat(d3.format('.02f'));

        // Show the tenses in the tooltip
        chart.tooltip.contentGenerator(function(e) {
            return '<h4>' + e.point.tenses + '</h4>';
        });

        // Create a click-through to the data
        chart.scatter.dispatch.on("elementClick", function(e) {
            window.location = "{% url 'annotations:show' 999 %}".replace(999, e.point.fragment_id);
        });

        // Add the data to the chart and start creating the chart
        d3.select('#chart svg')
            .datum(matrix)
            .transition()
            .duration(350)
            .call(chart);

        nv.utils.windowResize(chart.update);
        return chart;
    });
</script>

<script>
$(function() {
    $("#language input[value='{{ language }}'").closest(".btn").button("toggle");
    $("#d1 input[value='{{ d1 }}'").closest(".btn").button("toggle");
    $("#d2 input[value='{{ d2 }}'").closest(".btn").button("toggle");

    $("button[type='submit']").click(function() {
        var l = $("#language > .btn.active > input").val();
        var d1 = $("#d1 > .btn.active > input").val();
        var d2 = $("#d2 > .btn.active > input").val();
        var url = "{% url 'stats:mds' scenario.pk 'language' 1111 2222 %}";
        window.location = url.replace("language", l).replace('1111', d1).replace('2222', d2);
    });
});
</script>
{% endblock %}
