{% extends "base/base.html" %} {% load bootstrap3 %} {% load static %} {% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.4/nv.d3.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.4/nv.d3.css">
<link href="{%static 'style.css' %}" rel="stylesheet" type="text/css" /> {% endblock %} {% block content %}


<h2>MDS visualization (scenario
    <em>
        <a href="{% url 'stats:show' scenario.pk %}" target="_blank">{{ scenario.title }}</a>
    </em>)</h2>
<p>
    <em>Stress: {{ stress|floatformat:"-3" }}</em>
</p>

<div class="alert alert-info alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    This scatter plot shows the results Multidimensional Scaling of the dissimilarity matrix of tense tuples. Please see the
    <a href="{% url 'project' %}" class="alert-link">project summary</a> for more details.
</div>

<div id="chart">
    <!-- <svg style="height: 490px; width: 100%"></svg> -->
</div>

<h2>Filters</h2>

<div class="alert alert-info alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    Below, you can change the labels and the dimensions displayed on the x- and y-axis. Click the green button to confirm your
    selection and update the scatter plot.
</div>

<div class="row">
    Language:
    <div id="language" class="btn-group" data-toggle="buttons">
        {% for l in languages %}
        <label class="btn btn-primary active">
            <input type="radio" name="options" value="{{ l.iso }}" autocomplete="off">{{ l.title }}
        </label>
        {% endfor %}
    </div>
    Dimension on x-axis:
    <div id="d1" class="btn-group" data-toggle="buttons">
        {% for d in max_dimensions %}
        <label class="btn btn-primary active">
            <input type="radio" name="options" value="{{ d }}" autocomplete="off">{{ d }}
        </label>
        {% endfor %}
    </div>
    Dimension on y-axis:
    <div id="d2" class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
            <input type="radio" name="options" value="0" autocomplete="off">&empty;
        </label>
        {% for d in max_dimensions %}
        <label class="btn btn-primary active">
            <input type="radio" name="options" value="{{ d }}" autocomplete="off">{{ d }}
        </label>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-success">
        {% bootstrap_icon "ok" %} Go!
    </button </div>

    <!-- <button id="bruh-btn" class="btn btn-primary">
        Toggle Brush
    </button </div> -->

    <!-- Form for posting data to server -->
    <form name="fragmentform" action="." method="post">
        {% csrf_token %}
        <!-- <input type="text" name="csrfmiddlewaretoken"> -->
        <input type="hidden" name="fragment_ids">
        <input type="hidden" name="tenses">
    </form>

    <div class="loading-overlay" style="display:none">
        <div id="spinner" class="spinner">
            <img id="img-spinner" src="{%static 'images/spinner.gif'%}" alt="Loading" />
        </div>
    </div>



    <script>
        // var flat_data = JSON.parse("{{flat_data}}");
        var flat_data = {{ flat_data | safe}}
        var containerWidth = d3.select(".container").node().getBoundingClientRect().width,
            margin = { top: 20, right: 20, bottom: 30, left: 40 },
            width = containerWidth - margin.left - margin.right,
            height = 490 - margin.top - margin.bottom;

        // setup x 
        var xValue = function (d) { return d.x; }, // data -> value
            xScale = d3.scale.linear().range([0, width]), // value -> display
            xMap = function (d) { return xScale(xValue(d)); }, // data -> display
            xAxis = d3.svg.axis()
                .scale(xScale)
                .tickFormat(d3.format('.02f'))
                .orient("bottom");

        // setup y
        var yValue = function (d) { return d.y; }, // data -> value
            yScale = d3.scale.linear().range([height, 0]), // value -> display
            yMap = function (d) { return yScale(yValue(d)); }, // data -> display
            yAxis = d3.svg.axis()
                .scale(yScale)
                .tickFormat(d3.format('.02f'))
                .orient("left");

        // setup fill color
        var cValue = function (d) { return d.color; }

        // add the graph canvas to the encapsulating div
        var svg = d3.select("#chart").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        // add the tooltip area to the webpage
        var tooltip = d3.select("#chart").append("div")
            .attr("class", "tooltip")
            .style("opacity", 0);

        // fore domain
        xScale.domain([-.6, .6]);
        yScale.domain([-.6, .6]);

        // x-axis
        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis)
        // .append("text")
        // .attr("class", "label")
        // .attr("x", width)
        // .attr("y", -6)
        // .style("text-anchor", "end")
        // .text("Calories");

        // y-axis
        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)
        // .append("text")
        // .attr("class", "label")
        // .attr("transform", "rotate(-90)")
        // .attr("y", 6)
        // .attr("dy", ".71em")
        // .style("text-anchor", "end")
        // .text("Protein (g)");
        // var data = {{ flat_data| safe}}
        // console.log(flat_data);

        //Draw a grid
        var yAxisGrid = yAxis.ticks(xScale.ticks().length)
            .tickSize(width, 0)
            .tickFormat("")
            .orient("right");

        var xAxisGrid = xAxis.ticks(yScale.ticks().length)
            .tickSize(-height, 0)
            .tickFormat("")
            .orient("top");

        svg.append("g")
            .classed('y', true)
            .classed('grid', true)
            .call(yAxisGrid);

        svg.append("g")
            .classed('x', true)
            .classed('grid', true)
            .call(xAxisGrid);
        // var data = [
        //     { 'key': 'Prae', 'x': .1, 'y': .1 },
        //     { 'key': 'Prae2', 'x': .2, 'y': .2 },
        //     { 'key': 'Prae3', 'x': .3, 'y': .3 }
        // ]

        svg.selectAll(".dot")
            .data(flat_data)
            .enter()
            .append("circle")
            .attr("class", "dot")
            .attr("r", 3.5)
            .attr("cx", xMap)
            .attr("cy", yMap)
            .style("fill", function (d) { return cValue(d); })
            .style("stroke", function (d) { return cValue(d); })
            .on("mouseover", function (d) {
                // highlight node
                d3.select(this).style("fill-opacity", .5);
                // activate tooltip
                tooltip.transition()
                    .duration(100)
                    .style("opacity", .9);
                tooltip.html(
                    '<strong>' +
                    d.fragment_id +
                    '</strong>: <em>' +
                    d.fragment +
                    '</em><br>' +
                    d.tenses)
                    .style("left", (d3.event.pageX + 10) + "px")
                    .style("top", (d3.event.pageY - 28) + "px");
            })
            // .on("mouseout", function (d) {
            //     tooltip.transition()
            //         .duration(50)
            //         .style("opacity", 0);
            // })
            .on("mouseout", function (d) {
                d3.select(this).style("fill-opacity", 1);
                tooltip.style("opacity", 0);
            })
            .on("click", function (d) {
                $('.loading-overlay').show();
                select_neighbours(d);
            })

        function select_neighbours(origin, distance = .1) {
            var brushedNodes = [];

            var data = d3.selectAll('.dot')
            for (circle of data[0]) {
                var f = circle.__data__
                if (f != undefined) {
                    if (within_distance(origin, f, distance)) {
                        if (_.isEqual(f.tenses.sort(), origin.tenses.sort())) {
                            brushedNodes.push(f.fragment_id)
                            circle.className.baseVal = 'selected'
                            circle.className.animVal = 'selected'
                            // console.log(d3.selectAll('.selected'))
                            d3.selectAll('.selected').style('fill', 'yellow').attr('r', 5)
                        }
                    }
                }
            }
            $('input[name="tenses"]').val(JSON.stringify(origin.tenses));
            $('input[name="fragment_ids"]').val(JSON.stringify(brushedNodes));
            $('form[name="fragmentform"]').submit();
        }

        function UpdateBrush() {
            const selection = d3.event.target.extent();
            const csrftoken = Cookies.get('csrftoken');
            var brushedNodes = [];
            for (tense of matrix) {
                for (point of tense.values) {
                    if (rectContains(selection, [point.x, point.y]) &&
                        point.tenses == e.tenses) {
                        brushedNodes.push(point.fragment_id)
                    }
                }
            }

            if (brushedNodes.length > 0) {
                $('input[name="fragment_ids"]').val(JSON.stringify(brushedNodes));
                $('form[name="fragmentform"]').submit();
            }
            else {
                sel = d3.selectAll('.brush');
                sel[0].call(d3.event.target.move, null);
            }
        }


    </script>

    <script>
        $(function () {
            // $("#language input[value='{{ language }}'").closest(".btn").button("toggle");
            // $("#d1 input[value='{{ d1 }}'").closest(".btn").button("toggle");
            // $("#d2 input[value='{{ d2 }}'").closest(".btn").button("toggle");

            $("button[type='submit']").click(function () {
                var l = $("#language > .btn.active > input").val();
                var d1 = $("#d1 > .btn.active > input").val();
                var d2 = $("#d2 > .btn.active > input").val();
                var url = "{% url 'stats:mds' scenario.pk 'language' 1111 2222 %}";
                window.location = url.replace("language", l).replace('1111', d1).replace('2222', d2);
            });
        });

        function rectContains(rect, point) {
            return rect[0][0] <= point[0] && point[0] <= rect[1][0] &&
                rect[0][1] <= point[1] && point[1] <= rect[1][1];
        };

        function distance(p1, p2) {
            var dx = p2.x - p1.x;
            var dy = p2.y - p1.y;
            return Math.sqrt(dx * dx + dy * dy);
        };

        function within_distance(origin, point, distance) {
            var dx = point.x - origin.x;
            var dy = point.y - origin.y;
            var d = Math.sqrt(dx * dx + dy * dy)

            return d <= distance
        }
    </script> {% endblock %}