{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block content %}
<div>
	<h2>Sankey diagrams</h2>
</div>

<p>
	<a href="https://en.wikipedia.org/wiki/Sankey_diagram" target="_blank">Sankey diagrams</a>
	are a specific type of flow diagram, in which the width of the arrows is shown proportionally to the flow quantity.
</p>
<p>
	In our case, the Sankey visualization allows you to compare tense use between two languages.
	On the left hand side, the annotated tenses in the first source language in a scenario are displayed,
	while on the right side, the annotated tenses in the first target language are displayed.
	The width of the arrows indicate how many contexts follow this specific path from source to target tense,
	while hovering allows you to see the exact number.
	Clicking on an arrow allows to drill through to the specific contexts.
	The arrows are coloured based on our
	<a href="{% url 'annotations:tenses' %}" target="_blank">default tense colouring</a>.
</p>
<p>
	You are able to add additional lanes by changing the filters on top of the diagram:
	<ul>
	<li>
		The first and third filter allow to change the source and target languages.
	</li>
	<li>
		The second filter allows to add an additional lane for a property of the source language.
		This is especially of interest in corpora that are annotated for formal structure
		(currently:
		{% for corpus in corpora %}<a href="{% url 'annotations:corpus' corpus.pk %}">{{ corpus.title }}</a>{% endfor %}),
		as this allows you to compare e.g. use of tense in dialogue or narration.
	</li>
	<li>
		The fourth filter allows to add an additional lane for the target language.
	</li>
	</ul>
</p>

{% endblock %}
