{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block content %}

<h1>Details for scenario <em>{{ scenario.title }}</em></h1>
<h2>Corpus</h2>
{{ scenario.corpus.title }}
<h2>Languages</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Language</th>
            <th>As from?</th>
            <th>As to?</th>
            <th>Tenses</th>
        </tr>
    </thead>
    <tbody>
        {% for sl in scenario.scenariolanguage_set.all %}
        <tr>
            <td>{{ sl.language }}</td>
            <td>{% if sl.as_from %}{% bootstrap_icon "ok" %}{% else %}{% bootstrap_icon "remove" %}{% endif %}</td>
            <td>{% if sl.as_to %}{% bootstrap_icon "ok" %}{% else %}{% bootstrap_icon "remove" %}{% endif %}</td>
            <td>{{ sl.tenses.all }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
