{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block content %}

{% regroup scenarios by corpus as corpus_list %}
{% regroup user_scenarios by corpus as user_corpus_list %}

<h2>Show results for:</h2>
<div class="well">
  <form class="form-inline">
    <div class="form-group">
      <label for="corpus_filter">Filter by Corpus</label>
      <select id="corpus_filter" class="form-control" name="corpus">
        <option value="">Any</option>
        {% for corpus in corpora %}
            <option value="{{ corpus.id }}" {% if corpus.id == selected_corpus %}selected="selected"{% endif %}>
            {{ corpus.title }}
            </option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="language_filter">Language</label>
      <select id="language_filter" class="form-control" name="language">
        <option value="">Any</option>
        {% for language in languages %}
            <option value="{{ language.iso }}" {% if language.iso == selected_language %}selected="selected"{% endif %}>
            {{ language.title }}
            </option>
        {% endfor %}
      </select>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="test" {% if show_test %} checked="checked"{% endif %}/> Include test scenarios
      </label>
    </div>
    <button class="btn btn-primary">Apply</button>
  </form>
</div>
<h2>My Scenarios</h2>
{% for corpus in user_corpus_list %}
<h3>{{ corpus.grouper }}</h3>
    <ul>
        {% for scenario in corpus.list %}
        <li>
            {{ scenario.title }}
            {% if scenario.is_test %}<span class="label label-warning">Test</span>{% endif %}
            <ul>
                <li>
                    <a href="{% url 'stats:mds' scenario.pk %}">Multidimensional scaling</a>
                </li>
                <li>
                    <a href="{% url 'stats:descriptive' scenario.pk %}">Descriptive statistics</a>
                </li>
                <li>
                    <a href="{% url 'stats:show' scenario.pk %}">Details</a>
                </li>
            </ul>
        </li>
        {% endfor %}
    </ul>
{% endfor %}
<hr/>
<h2>Scenarios by other users</h2>
{% for corpus in corpus_list %}
<h3>{{ corpus.grouper }}</h3>
    <ul>
        {% for scenario in corpus.list %}
        <li>
            {{ scenario.title }}
            {% if scenario.is_test %}<span class="label label-warning">Test</span>{% endif %}
            <ul>
                <li>
                    <a href="{% url 'stats:mds' scenario.pk %}">Multidimensional scaling</a>
                </li>
                <li>
                    <a href="{% url 'stats:descriptive' scenario.pk %}">Descriptive statistics</a>
                </li>
                <li>
                    <a href="{% url 'stats:show' scenario.pk %}">Details</a>
                </li>
            </ul>
        </li>
        {% endfor %}
    </ul>
{% endfor %}

{% endblock %}
