{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block content %}

<h2>Show results for:</h2>
<ul>
    {% for scenario in scenarios %}
    <li>
        {{ scenario.corpus.title }}
        <ul>
            <li>
                <a href="{% url 'stats:mds' scenario.pk %}">Multidimensional scaling</a>
            </li>
            <li>
                <a href="{% url 'stats:descriptive' scenario.pk %}">Descriptive statistics</a>
            </li>
        </ul>
    </li>
    {% endfor %}
</ul>

{% endblock %}
