{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block content %}

<h2>Scenarios</h2>
<div class="alert alert-info alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    This page lists all created scenarios.
    Create a new scenario
    <a href="{% url 'admin:stats_scenario_add' %}" class="alert-link">in the admin interface</a>,
    and please see the
    <a href="{% url 'stats:scenarios_manual' %}" class="alert-link">manual</a>
    for help on scenario creation.
</div>

{% include "stats/_scenarios.html" %}

{% if is_paginated %}
{% bootstrap_pagination page_obj extra=request.GET.urlencode %}
{% endif %}

<h2>Filter</h2>
<form action="" method="get">
    {% bootstrap_form filter.form %}
    {% bootstrap_button "Filter" button_type="submit" %}
</form>

{% endblock %}
