{% extends "base/base.html" %}

{% load bootstrap3 %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}
<!-- Form for changing the tense category -->
<form action="{% url 'annotations:download' %}" target="_blank">
    <div class="form-group">
        <label for="tc">Tense category:</label>
        <select id="tc" class="form-control" name="tc">
        {% for tc in tense_categories %}
            <option value="{{ tc.pk }}" {% if tc.pk == selected_tc.pk %}selected="selected"{% endif %}>
                {{ tc.title }}
            </option>
        {% endfor %}
        </select>
    </div>
</form>

<!-- Form for posting fragment_ids to server -->
<form name="fragmentform" action="." method="post">
    {% csrf_token %}
    <input type="hidden" name="fragment_ids">
</form>

<div id="vis"></div>

<script src="https://unpkg.com/candela/dist/candela.min.js"></script>
<script>

var data = {{ data | safe }};

var el = document.getElementById('vis');
var vis = new candela.components.UpSet(el, {
    data: data,
    id: 'fragment_pk',
    sets: {{ languages | safe }}
});
vis.render();

$(document).ready(function() {
    link = $('<a>Show fragments</a>');
    link.insertBefore($('#item-table-container'));
    link.click(function() {
        fragment_pks = [];
        $('#item-table table tbody tr td:nth-child(1)').each(function() {
           fragment_pks.push($(this).text());
        });

        if (fragment_pks.length > 0) {
            $('input[name="fragment_ids"]').val(JSON.stringify(fragment_pks));
            $('form[name="fragmentform"]').submit();
        }
    });

    $("#tc").change(function() {
        var tc = $(this).children("option:selected").val();
        console.log(tc);
        var url = "{% url 'stats:upset' scenario.pk 123 %}";
        window.location = url.replace("123", tc);
    });
});

</script>
{% endblock %}
