{% extends "base/base.html" %}

{% load bootstrap3 %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}
<!-- Form for posting data to server -->
<form name="fragmentform" action="." method="post">
    {% csrf_token %}
    <input type="hidden" name="fragment_ids">
</form>

<div id="vis"></div>

<script src="https://unpkg.com/candela/dist/candela.min.js"></script>
<script>

var data = {{ data | safe }};

var el = document.getElementById('vis');
var vis = new candela.components.UpSet(el, {
    data: data,
    id: 'fragment_pk',
    sets: {{ languages | safe }}
});
vis.render();

$(document).ready(function() {
    link = $('<a>Show fragments</a>');
    link.insertBefore($('#item-table-container'));
    link.click(function() {
        fragment_pks = [];
        $('#item-table table tbody tr td:nth-child(1)').each(function() {
           fragment_pks.push($(this).text());
        });

        if (fragment_pks.length > 0) {
            $('input[name="fragment_ids"]').val(JSON.stringify(fragment_pks));
            $('form[name="fragmentform"]').submit();
        }
    });
});

</script>
{% endblock %}
