<ul class="list-group">
    <li class="list-group-item">
        <span>"</span>
        <div class="tooltiptext">
            Part-of-speech: <em>.</em><br/>
            Lemma: <em>"</em>
        </div>
        <span>Mary</span>
        <div class="tooltiptext">
            Part-of-speech: <em>NNP</em><br/>
            Lemma: <em>Mary</em>
        </div>
        <span class="to-select">has</span>
        <div class="tooltiptext">
            Part-of-speech: <em>VBZ</em><br/>
            Lemma: <em>have</em>
        </div>
        <span>just</span>
        <div class="tooltiptext">
            Part-of-speech: <em>VBN</em><br/>
            Lemma: <em>just</em>
        </div>
        <span class="to-select">played</span>
        <div class="tooltiptext">
            Part-of-speech: <em>VBN</em><br/>
            Lemma: <em>play</em>
        </div>
        <span>a</span>
        <div class="tooltiptext">
            Part-of-speech: <em>VBN</em><br/>
            Lemma: <em>a</em>
        </div>
        <span>great</span>
        <div class="tooltiptext">
            Part-of-speech: <em>VBN</em><br/>
            Lemma: <em>great</em>
        </div>
        <span>move</span>
        <div class="tooltiptext">
            Part-of-speech: <em>VBN</em><br/>
            Lemma: <em>move</em>
        </div>
        <span>"</span>
        <div class="tooltiptext">
            Part-of-speech: <em>.</em><br/>
            Lemma: <em>"</em>
        </div>
        <span>,</span>
        <div class="tooltiptext">
            Part-of-speech: <em>.</em><br/>
            Lemma: <em>,</em>
        </div>
        <span>said</span>
        <div class="tooltiptext">
            Part-of-speech: <em>VBN</em><br/>
            Lemma: <em>say</em>
        </div>
        <span>John</span>
        <div class="tooltiptext">
            Part-of-speech: <em>NNP</em><br/>
            Lemma: <em>John</em>
        </div>
        <span>.</span>
        <div class="tooltiptext">
            Part-of-speech: <em>.</em><br/>
            Lemma: <em>.</em>
        </div>
    </li>
</ul>

<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <form action="" method="post" class="form">
            <div class="form-group"><div class="checkbox"><label for="id_is_no_target"><input class="" id="id_is_no_target" name="is_no_target" type="checkbox" /> There is no present perfect in the original fragment</label></div></div>
            <a id="submit" href="{{ url }}" class="btn btn-primary" role="button">
                <span class="glyphicon glyphicon-ok"></span> Submit
            </a>
        </form>
    </div>
</div>
