{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block content %}
<style>
.progress {
    margin-bottom: 0px;
}
</style>

<div class="container">
    <h1>Welcome!</h1>
    <p class="lead">
        Hi <em>{{ user.username }}</em>! Please select your language of choice below and start selecting targets.
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="10%">Language</th>
                <th width="60%">Annotated</th>
                <th width="20%">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for language, annotated, total in languages %}
            <tr>
                <td>{{ language.title }}</td>
                <td>
                    {% if annotated > 0 %}
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {% widthratio annotated total 100 %}%">
                            Annotated {{ annotated }} of {{ total }}
                        </div>
                    </div>
                    {% elif total > 0 %}
                    No annotations made yet.
                    {% else %}
                    No work to do.
                    {% endif %}
                </td>
                <td>
                    {% if annotated < total %}
                    <a href="{% url 'selections:choose' language.iso %}" role="button" class="btn btn-default btn-xs" title="Start annotating">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    </a>
                    {% endif %}
                    <a href="{% url 'selections:list' language.iso %}" role="button" class="btn btn-default btn-xs" title="List view">
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if current_corpora %}
    <h3>You are currently working on:</h3>
    <ul>
    {% for corpus in current_corpora %}
        <li>{{ corpus.title }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
