{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block content %}
<div class="container">
    <h1>Instructions (part 5)</h1>
    <div>
        <p class="lead">
            In some cases, there are multiple targets in the sentence.
            In that case, use the 'Submit and select another' button after selecting your first target.
        </p>
        <div class="alert alert-info" role="alert">
            Please select the first target in this fragment by clicking on 'has' and 'played'.
            The order of clicking is not important.
            After that, click the 'Submit and select another' button to continue.
        </div>
        {% url "selections:instructions" 6 as next_url %}
        {% include "selections/_selection_instructions.html" with url=next_url %}
    </div>
</div>

<script>
$(function() {
    $(".tooltiptext").hide();

    $("span").each(function() {
        $(this).qtip({
            content: {
                text: $(this).next(".tooltiptext")
            }
        });
    });

    $("span").click(function() {
        $(this).toggleClass("bg-success");
    });

    $("#submit").click(function(event) {
        event.preventDefault();
        $(".alert").removeClass("alert-info");
        $(".alert").addClass("alert-danger");
    });

    $("#submit_other").click(function(event) {
        var all_selected = true;
        $(".to-select-first").each(function() {
            all_selected &= $(this).hasClass("bg-success");
        });

        if (!all_selected) {
            event.preventDefault();
            $(".alert").removeClass("alert-info");
            $(".alert").addClass("alert-danger");
        }
    });
});
</script>
{% endblock %}
