{% extends "base/base.html" %}

{% load bootstrap3 %}
{% load static %}

{% block head %}
<script src="{% static 'annotations/selection.js' %}"></script>
{% endblock %}


{% block content %}
<div class="container">
    <h1>Instructions (part 3)</h1>
    <div>
        <p class="lead">
            After you've selected a language you will be presented with a fragment.
            Ideally, you are able to select a target (or multiple) here.
            In this instruction, we focus on selection of <em>verb phrases</em>.
        </p>
        <div class="alert alert-info" role="alert">
            Please select the first target in this fragment by clicking on 'has' and 'played'.
            The order of clicking is not important.
            After that, click the 'Submit' button to continue.
        </div>
        {% url "selections:instructions" 4 as next_url %}
        {% include "selections/_selection_instructions.html" with url=next_url %}
    </div>
</div>

<script>
$(function() {
    $(".tooltiptext").hide();

    $("span").each(function() {
        $(this).qtip({
            content: {
                text: $(this).next(".tooltiptext")
            }
        });
    });

    $("#submit").click(function(event) {
        var all_selected = true;
        $(".to-select-first").each(function() {
            all_selected = all_selected && $(this).hasClass("selected");
        });

        if (!all_selected) {
            event.preventDefault();
            $(".alert").removeClass("alert-info");
            $(".alert").addClass("alert-danger");
        }
    });

    $("#submit_other").click(function(event) {
        event.preventDefault();
        $(".alert").removeClass("alert-info");
        $(".alert").addClass("alert-danger");
    });
});
</script>
{% endblock %}
