{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block head %}
<style>
 .selection-tool {
     text-align: right;
     margin-top: 5px;
 }
</style>
{% endblock %}

{% block content %}

<div class="container">
    <h1>PreSelect</h1>

    <h2>
        {{ fragment.language.title }}
        <span class="label label-default pull-right">{{ fragment.document.title }} - {{ fragment.first_sentence.xml_id }}</span>
    </h2>
    {% include "annotations/_sentences.html" with sentences=fragment.sentence_set.all selected_words=selected_words tooltips=1 %}

    <div class="selection-tool">
        Selection tool:
        <div class="btn-group" role="group">
            <button id="select-word" type="button" class="active btn btn-xs btn-default">Word</button>
            <button id="select-segment" type="button" class="btn btn-xs btn-default">Segment</button>
        </div>
    </div>
    <form action="" method="post" class="form">{% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" name="is_final" class="btn btn-primary">
            {% bootstrap_icon "ok" %} Submit
        </button>
        <button type="submit" name="is_not_final" class="btn btn-primary">
            {% bootstrap_icon "ok" %} Submit and select another target
        </button>
        <a href="{% url 'selections:choose' fragment.language.iso %}" role="button" class="btn btn-warning pull-right">
            {% bootstrap_icon "arrow-right" %} Go to another fragment
        </a>
    </form>
</div>

<script>
$(function() {
    $(".tooltiptext").hide();

    $(".word").each(function() {
        $(this).qtip({
            content: {
                text: $(this).next(".tooltiptext")
            }
        });
    });

    $(".word").click(function() {
        clickHandler.call(this);
    });

    function selectWord() {
        var selected = $("select[name=words]").val() || [];
        if ($(this).hasClass("selected")) {
            var index = selected.indexOf($(this).attr("data-pk"));
            selected.splice(index, 1);
            $(this).removeClass("selected");
        }
        else {
            selected.push($(this).attr("data-pk"));
            $(this).addClass("selected");
        }

        $("select[name=words]").val(selected);
    }

    function selectSegment() {
        $(this).toggleClass("endpoint");

        // select segment after two points were chosen (start and end)
        if ($(".endpoint").length > 1) {
            // mark all the words between the endpoints
            var segment = $(".endpoint").first().nextUntil(".endpoint")
                                        .addBack(); // add start word
            segment = segment.add(segment.last().next());  // add final word
            segment.toggleClass("selected");

            $(".endpoint").removeClass("endpoint"); // remove highlight

        }

        var selected = $('.selected').map(function (_, el) { return $(el).data('pk') }).get();
        $("select[name=words]").val(selected);
    }

    var clickHandler = selectWord;
    $("#select-word").click(function() {
        clickHandler = selectWord;
        $("#select-word").addClass("active");
        $("#select-segment").removeClass("active");
        $("input[name=select_segment]").val(false);
    });
    $("#select-segment").click(function() {
        clickHandler = selectSegment;
        $("#select-word").removeClass("active");
        $("#select-segment").addClass("active");
        $("input[name=select_segment]").val(true);
    });

    $(".checkbox").click(function() {
        if ($("#id_is_no_target").is(':checked') || $("#id_already_complete").is(':checked'))
        {
            $("button[name=is_not_final]").hide();
            $(".word").removeClass("selected");
        }
        else
        {
            $("button[name=is_not_final]").show();
        }
    });

    $("select[name=words]").parent().hide();
    if ($("input[name=select_segment]").val() === "True") {
        clickHandler = selectSegment;
        $("#select-word").removeClass("active");
        $("#select-segment").addClass("active");
    }

    $(".labels-field").select2({tags: true});
});
</script>
{% endblock %}
