{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block content %}
<style>
.selected {
    background-color: lightgreen;
}
</style>

<div class="container">
    <h1>PreSelect</h1>

    <h2>
        {{ fragment.language.title }}
        <span class="label label-default pull-right">{{ fragment.document.title }} - {{ fragment.first_sentence.xml_id }}</span>
    </h2>

    {% include "annotations/_sentences.html" with sentences=fragment.sentence_set.all selected_words=selected_words tooltips=1 %}

    <form action="" method="post" class="form">{% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" name="is_final" class="btn btn-primary">
            {% bootstrap_icon "ok" %} Submit
        </button>
        <button type="submit" name="is_not_final" class="btn btn-primary">
            {% bootstrap_icon "ok" %} Submit and select another target
        </button>
        <a href="{% url 'selections:choose' fragment.language.iso %}" role="button" class="btn btn-warning pull-right">
            {% bootstrap_icon "arrow-right" %} Go to another fragment
        </a>
    </form>
</div>

<script>
$(function() {
    $(".tooltiptext").hide();

    $(".word").each(function() {
        $(this).qtip({
            content: {
                text: $(this).next(".tooltiptext")
            }
        });
    });

    $(".word").click(function() {
        var selected = $("select[name=words]").val() || [];
        if ($(this).hasClass("selected")) {
            var index = selected.indexOf($(this).attr("id"));
            selected.splice(index, 1);
            $(this).removeClass("selected");
        }
        else {
            selected.push($(this).attr("id"));
            $(this).addClass("selected");
        }

        $("select[name=words]").val(selected);
    });

    $(".checkbox").click(function() {
        if ($("#id_is_no_target").is(':checked') || $("#id_already_complete").is(':checked'))
        {
            $("button[name=is_not_final]").hide();
        }
        else
        {
            $("button[name=is_not_final]").show();
        }
    });

    $("select[name=words]").parent().hide();
});
</script>
{% endblock %}
