{% extends 'admin/change_form.html' %}
{% load static %}
{% load add_preserved_filters from admin_urls %}

{# block copied from django-object-actions #}
{% block object-tools-items %}
  {% for tool in objectactions %}
    <li class="objectaction-item" data-tool-name="{{ tool.name }}">
      {% url tools_view_name pk=object_id tool=tool.name as action_url %}
      <a href="{% add_preserved_filters action_url %}" title="{{ tool.standard_attrs.title }}"
         {% for k, v in tool.custom_attrs.items %}
           {{ k }}="{{ v }}"
         {% endfor %}
         class="{{ tool.standard_attrs.class }}">
      {{ tool.label|capfirst }}
      </a>
    </li>
  {% endfor %}
  {{ block.super }}
{% endblock %}


{% block extrahead %}
    {{ block.super }}
    {# make jQuery available to select2 #}
    <script>var jQuery = django.jQuery;</script>
    {# Load the Select2 library #}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

    <style>
     .field-include_labels li {
         display: inline-block;
     }

     .field-include_labels li label, .field-include_keys li label {
         background: #777;
         display: inline-block;
         margin: .15em;
         padding: .2em .6em .3em;
         font-weight: 700;
         line-height: 1;
         color: #fff;
         text-align: center;
         white-space: nowrap;
         vertical-align: baseline;
         border-radius: .25em;
         cursor:pointer;
         width: auto !important;
     }

     .field-include_labels li label::after, .field-include_keys li label::after {
         height: auto !important;
     }

     .field-include_labels input, .field-include_keys input {
         display: none;
     }

     li label.checked {
         background: #337ab7;
     }
    </style>
    {% endblock %}
    {% block admin_change_form_document_ready %}
    {{ block.super }}
    <script>
     django.jQuery(function() {
         main(django.jQuery);
     })

     function main($) {
         $('input[type="checkbox"]:checked').each(function(idx, element) {
             element.parentNode.className = 'checked';
         });
         $('input[type="checkbox"]').change(function(event) {
             event.target.parentNode.classList.toggle('checked');
         });
         $('.field-include_labels').add('.field-include_keys').each(function(idx, element) {
             if ($(element).closest('fieldset').find('.field-language select').val() === '') {
                 $('.related-widget-wrapper', element).replaceWith('<div class="form-row">Please choose language and save to show field.</div>');
             }
         });
     }
    </script>
    {% endblock %}
