{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Contact</h1>
        <p>
            Any questions on the project?
            Please send an e-mail to <a href="mailto:H.deSwart@uu.nl">Henriette de Swart</a>.
        </p>
        <p>
            Any questions concerning the code?
            Please send an e-mail to <a href="mailto:M.H.vanderKlis@uu.nl">Martijn van der Klis</a>.
        </p>
    </div>
</div>
{% endblock %}
