:root {
    --color-main: #feb300;
    --color-primary: #ff5e6c;
    --color-accent: #ffaaab;
    --color-text-dark: #2f172a;
    --color-text-light: #fff5d7;
}

body {
    background-color: #fff5d7;
    font-size: 1.8rem;
    line-height: 1.8;
}

footer {
    border-top: 2px solid var(--color-primary);
    margin-top: 20px;
    padding-top: 20px;
}

footer img {
    margin: auto;
    display: block;
}

footer p {
    text-align: center;
}

header.masthead {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color:  var(--color-main);
}

header.masthead .masthead-heading {
    font-size: 6rem;
}

header.masthead .masthead-subheading {
    font-size: 2rem;
}

@media (min-width: 992px) {
    header.masthead {
        padding-top: calc(10rem + 55px);
        padding-bottom: 10rem;
    }
}

a.main {
    background-color:  var(--color-primary);
    color:  var(--color-text-dark);
}

a.main:hover,
a.main:focus {
    background-color:  var(--color-accent);
    color:  var(--color-text-dark);
    border: 1px solid #fff5d7;
}

section {
    padding: 4rem 0 6rem;
}

section.secondary-section {
    background-color:  var(--color-accent);
}

.mt-2 {
    margin-top: 2rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.m-2 {
    margin: 2rem;
}

.m-4 {
    margin: 4rem;
}

hr.primary {
    border-color:  var(--color-main);
}

div.card {
    background-color:  var(--color-main);
    padding: 0.5rem 1rem 3rem;
    border-radius: 4px;
    border: 2px solid #eeeeee;
}