/* Footer styling */

footer {
  border-top: 5px solid;
  margin-top: 20px;
  padding-top: 20px;
}

footer img {
  margin: auto;
  display: block;
}

footer p {
  text-align: center;
}


/* Annotation styling */

.selected, .selected.other {
  background-color: lightgreen;
}

.other {
  background-color: lightyellow;
}

.filtered {
  border: 1px solid black;
}

.in-dialogue {
  font-style: italic;
}

.popover {
  max-width: 40em;
}

.progress {
  margin-bottom: 0;
}

.endpoint {
  background-color: lightblue;
}

.selection-tool {
  text-align: right;
  margin-top: 5px;
}

.qtip {
  max-width: none !important;
}
