{% extends "annotations/base.html" %}

{% load bootstrap3 %}

{% block content %}
<div class="container">
    <h1>Log in</h1>
    {% if form.errors %}
    <p class="form-errors">
        Username or password incorrect. Please try again.
    </p>
    {% endif %}
    <p class="lead">
        Please log in with your username and password.
    </p>
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
        <div class="form-group">
            <input id="id_username" name="username" type="text" placeholder="Username" class="form-control">
        </div>
        <div class="form-group">
            <input id="id_password" name="password" type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Log in</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}
