<div class="row">
    <div class="col-md-6">
        <h2>English (original)</h2>
    </div>
    <div class="col-md-6">
        <h2>German (translated)</h2>
    </div>
</div>
<div class="row alignment">
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item">
                <span>John</span>
                <div class="tooltiptext">
                    Part-of-speech: <em>NNP</em><br/>
                    Lemma: <em>John</em>
                </div>
                <span class="bg-success">has</span>
                <div class="tooltiptext">
                    Part-of-speech: <em>VBZ</em><br/>
                    Lemma: <em>have</em>
                </div>
                <span class="bg-success">come</span>
                <div class="tooltiptext">
                    Part-of-speech: <em>VBN</em><br/>
                    Lemma: <em>come</em>
                </div>
                <span>.</span>
                <div class="tooltiptext">
                    Part-of-speech: <em>.</em><br/>
                    Lemma: <em>.</em>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-6 translated">
        <ul class="list-group">
            <li class="list-group-item">
                <span>Jan</span>
                <div class="tooltiptext">
                    Part-of-speech: <em>NE</em><br/>
                    Lemma: <em>Jan</em>
                </div>
                <span class="to-select">ist</span>
                <div class="tooltiptext">
                    Part-of-speech: <em>VAFIN</em><br/>
                    Lemma: <em>sein</em>
                </div>
                <span class="to-select">gekommen</span>
                <div class="tooltiptext">
                    Part-of-speech: <em>VVPP</em><br/>
                    Lemma: <em>kommen</em>
                </div>
                <span>.</span>
                <div class="tooltiptext">
                    Part-of-speech: <em>$.</em><br/>
                    Lemma: <em>.</em>
                </div>
            </li>
        </ul>
    </div>
</div>
