{% for word in words %}
    {% if latex %}
        {% if word.is_target or word in annotated_words %}
            \textbf&#123;{{ word.word }}&#125;
        {% else %}
            {{ word.word }}
        {% endif %}
    {% else %}
        {% spaceless %}
        <span data-pk="{{ word.pk }}" data-xml-id="{{ word.xml_id }}"
            class="word
            {% if word.is_target or word in annotated_words %} selected {% endif %}
            {% if word.is_other_target %} other {% endif %}
            {% if word.word == filtered %} filtered {% endif %}
            {% if word.is_in_dialogue %} in-dialogue {% endif %}">
            {% if transliteration %}{{word.transliteration}}{% else %}{{ word.word }}{% endif %}</span>

        {% if tooltips %}
        <div class="tooltiptext">
            Part-of-speech: <em>{{ word.pos }}</em><br/>
            Lemma: <em>{{ word.lemma }}</em>
        </div>
        {% endif %}

        {% for k, v in selected_words.items %}
            {% if word.xml_id in v %}
            <sup class="prev">{{ k }}</sup>
            {% endif %}
        {% endfor %}
        {% endspaceless %}
    {% endif %}
{% endfor %}
