{% if not plain %}
    <ul class="list-group" dir="auto" style="margin-bottom: 0px">
{% endif %}
{% for sentence in sentences %}
    {% if sentence.tag == 'p' %}
        <li class="paragraph {{ sentence.position }}">
            &para
        </li>
    {% else %}
        {% if not plain %}
            <li class="list-group-item {{ sentence.position }}" data-pk="{{ sentence.pk }}" data-xml-id="{{ sentence.xml_id }}">
        {% endif %}
        {% if sentence.content %}
            {% if sentence.position == "current" %}
                <button role="button" class="reset-btn btn btn-primary btn-xs" title="Reset context">
                    <span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span>
                </button>
            {% endif %}
            {% with sentence.content as sentence %}
                <button type="button" class="btn btn-info btn-xs" disabled="disabled">
                    {{ sentence.xml_id }}
                </button>
                <div class="btn-group pull-right" role="group">
                    {% for fragment_pk in sentence.fragment_pks %}
                        {% if user.is_authenticated %}
                    <a href="{% url 'annotations:show' fragment_pk %}" class="btn btn-info btn-xs" title="View fragment">
                        {{ forloop.counter }}
                    </a>
                        {% else %}
                    <button class="btn btn-info btn-xs">
                        {{ forloop.counter }}
                    </button>
                        {% endif %}
                    {% endfor %}
                </div>
                {% include "annotations/_sentence.html" with words=sentence.words %}
            {% endwith %}
        {% elif sentence.content_xml %}
            {% with sentence.content_xml as sentence %}
                <button type="button" class="btn btn-info btn-xs" disabled="disabled">
                    {{ sentence.xml_id }}
                </button>
                {% include "annotations/_sentence.html" with words=sentence.words %}
            {% endwith %}
        {% else %}
            {% include "annotations/_sentence.html" with words=sentence.word_set.all %}
        {% endif %}
        {% if not plain %}
            </li>
        {% endif %}
    {% endif %}
{% endfor %}
{% if not plain %}
    </ul>
{% endif %}
