<ul class="list-group" dir="auto" style="margin-bottom: 0px">
    {% for sentence in sentences %}
    <li class="list-group-item" data-pk="{{ sentence.pk }}" data-xml-id="{{ sentence.xml_id }}">
        {% for word in sentence.word_set.all %}
        {% spaceless %}
        <span data-pk="{{ word.pk }}" data-xml-id="{{ word.xml_id }}"
              class="
              word

              {% if word.is_target or word in annotated_words %}
              selected
              {% endif %}

              {% if word.word == filtered %}
              filtered
              {% endif %}

              {% if word.is_in_dialogue %}
              in-dialogue
              {% endif %}">{{ word.word }}</span>

        {% if tooltips %}
        <div class="tooltiptext">
            Part-of-speech: <em>{{ word.pos }}</em><br/>
            Lemma: <em>{{ word.lemma }}</em>
        </div>
        {% endif %}

        {% for k, v in selected_words.items %}
        {% if word.xml_id in v %}
        <sup class="prev">{{ k }}</sup>
        {% endif %}
        {% endfor %}
        {% endspaceless %}
        {% endfor %}
    </li>
    {% endfor %}
</ul>
