{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block content %}

    <h1>Annotations <span class="label label-info pull-right">{{ page_obj.paginator.count }} in current selection</span></h1>

    <div class="row">
      <div class="col-lg-10">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="10%">Document</th>
                    <th width="20%">Annotated by/at</th>
                    <th width="25%">Source</th>
                    <th width="25%">Translation</th>
                    <th width="15%">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for annotation in annotations %}
                <tr>
                    {% with source=annotation.alignment.original_fragment translation=annotation.alignment.translated_fragment %}
                    <td>{{ source.document.title }}</td>
                    <td>{{ annotation.annotated_by }} (<em>{{ annotation.annotated_at|date:"j M Y, G:i" }}</em>)</td>
                    <td>
                        <a title="Source fragment" data-toggle="popover"
                        data-content='{% include "annotations/_sentences.html" with sentences=source.sentence_set.all filtered=filter.form.word_in_source.value %}'>
                            {{ source.target_words }}
                            {% if source.label %}({{ source.label }}){% endif %}
                        </a>
                    </td>
                    <td>
                        <a title="Translated fragment" data-toggle="popover"
                        data-content='{% include "annotations/_sentences.html" with sentences=translation.sentence_set.all annotated_words=annotation.words.all filtered=filter.form.word_in_target.value %}'>
                            {{ annotation.selected_words }}
                            {% if annotation.label %}({{ annotation.label }}){% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'annotations:edit' annotation.pk %}" role="button" class="btn btn-primary btn-xs" title="Edit">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                        <button type="button" class="btn btn-info btn-xs {% if not annotation.comments %}disabled{% endif %}" title="{{ annotation.comments }}">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        </button>
                        <a href="{% url 'annotations:show' source.pk %}" role="button" class="btn btn-info btn-xs" title="Show fragment">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </a>
                        <a href="{% url 'annotations:delete' annotation.pk %}" role="button" class="btn btn-danger btn-xs" title="Delete">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </td>
                    {% endwith %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if is_paginated %}
        {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
        {% endif %}
      </div>
      <div class="col-lg-2">
        <h2>Filter</h2>
        <form action="" method="get">
            {% bootstrap_form filter.form %}
            {% bootstrap_button "Filter" button_type="submit" %}
            {% bootstrap_button "Clear" button_type="reset" %}
        </form>
      </div>
    </div>

<script>
$(function() {
     $('[data-toggle="popover"]').popover({
         html: true,
         placement: "bottom",
     });
     $('#id_source_tense').parent().before('<h4>Source</h4>')
     $('#id_tense').parent().before('<h4>Translation</h4>')
     $('#id_o').parent().before('<h4>Ordering</h4>')
     $('select').select2();
     $('button[type="reset"]').click(function(event) {
         var form = $(event.target).closest('form');
         form.find('select').val(null).trigger('change');
         form.submit();
     });
});
</script>
{% endblock %}
