{% extends "annotations/base.html" %}

{% load bootstrap3 %}

{% block content %}
<div class="container" style="margin-top: 60px;">
    <h1>Annotations</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="10%">Annotated at</th>
                <th width="10%">Translated language</th>
                <th width="10%">Translated language</th>
                <th width="10%">Translated language</th>
                <th width="10%">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for annotation in annotations %}
            <tr>
                <td>{{ annotation.annotated_at }}</td>
                <td>{{ annotation.annotated_by }}</td>
                <td>{{ annotation.is_no_target }}</td>
                <td>{{ annotation.is_translation }}</td>
                <td>Add edit button here</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Filter</h2>
    <form action="" method="get">
        {% bootstrap_form filter.form %}
        {% bootstrap_button "Filter" button_type="submit" %}
    </form>
</div>
{% endblock %}
