{% extends "base/base.html" %}

{% load bootstrap3 %}
{% load static %}

{% block head %}
<script src="{% static 'annotations/selection.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container">
{% with f1=alignment.original_fragment f2=alignment.translated_fragment %}
    <h1>Annotation</h1>
    <div class="row">
        <div class="col-md-6">
            <h2 data-pk="{{ alignment.original_fragment.pk }}">
                {{ f1.language.title }} (original)
                <small><span class="label label-default pull-right">{{ f1.document.title }} - {{ f1.first_sentence.xml_id }}</span></small>
            </h2>
        </div>
        <div class="col-md-6">
            <h2 data-pk="{{ alignment.translated_fragment.pk }}">
                {{ f2.language.title }} (translated)
                <small><span class="label label-default pull-right">{{ f2.document.title }} - {{ f2.first_sentence.xml_id }}</span></small>
            </h2>
        </div>
    </div>
    <div class="row alignment">
        <div class="col-md-6">
            {% include "annotations/_sentences.html" with sentences=f1.sentence_set.all tooltips=1 %}
        </div>
        <div class="col-md-6 selectable">
            {% include "annotations/_sentences.html" with sentences=f2.sentence_set.all tooltips=1 %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="selection-tool">
                Selection tool:
                <div class="btn-group" role="group">
                    <button id="select-word" type="button" class="active btn btn-xs btn-default">Word</button>
                    <button id="select-segment" type="button" class="btn btn-xs btn-default">Segment</button>
                </div>
            </div>
            <form action="" method="post" class="form">{% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "ok" %} Submit
                </button>
                {% if not annotation %}
                <a href="{% url 'annotations:choose' f1.document.corpus.pk f1.language.iso f2.language.iso %}" role="button" class="btn btn-warning pull-right">
                    {% bootstrap_icon "arrow-right" %} Go to another fragment
                </a>
                {% endif %}
            </form>
        </div>
    </div>
{% endwith %}
    {% include 'annotations/_revisions.html' %}
</div>
{% endblock %}
