{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block content %}
<div class="container">
  <h1>Download Annotation File: {{ language_to.title }}</h1>
  <p class="lead">
    Please select the required corpus and documents below:
  </p>

  <form action="{% url 'annotations:download' %}" target="_blank">
    <div class="form-group">
      <label for="corpus">Corpus:</label>
      <select id="corpus" class="form-control" name="corpus">
        {% for corpus in corpora %}
        <option value="{{corpus.pk}}" {% if corpus.pk == selected_corpus.pk %}selected="selected"{% endif %}>{{corpus.title}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="subcorpus">Subcorpus:</label>
      <select id="subcorpus" class="form-control" name="subcorpus">
        <option value="all" selected="selected">All</option>
        {% for subcorpus in selected_corpus.subcorpus_set.all %}
        <option value="{{subcorpus.pk}}">{{subcorpus.title}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="document">Document:</label>
      <select id="document" class="form-control" name="document">
        <option value="all" selected="selected">All</option>
        {% for document in selected_corpus.documents.all %}
        <option value="{{document.pk}}">{{document.title}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="include_non_targets"> Include non-targets and incorrect translations
        </label>
      </div>
    </div>

    <div class="form-group">
      <button id="download" class="btn btn-primary">Download</button>
    </div>
    <input type="hidden" name="language" value="{{ language_to.iso }}"/>
  </form>
</div>
<script>
  $(function() {
    $('#corpus').change(function(event) {
      var corpus_id = $('#corpus').val();
      window.location.href = "{% url 'annotations:prepare_download' language=language_to.iso %}" + '/' + corpus_id;
    });
  });
</script>
{% endblock %}
