{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block head %}
<style>
  .lds-dual-ring {
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #cef;
    border-color: #cef transparent #cef transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .loading {
    display:none;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Download Annotation File: {{ language_to.title }}</h1>
  <p class="lead">
    Please select the required corpus and documents below:
  </p>

  <form id="download" action="{% url 'annotations:download_start' %}" target="_blank">
    <div class="form-group">
      <label for="corpus">Corpus:</label>
      <select id="corpus" class="form-control" name="corpus">
        {% for corpus in corpora %}
        <option value="{{corpus.pk}}" {% if corpus.pk == selected_corpus.pk %}selected="selected"{% endif %}>{{corpus.title}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="subcorpus">Subcorpus:</label>
      <select id="subcorpus" class="form-control" name="subcorpus">
        <option value="all" selected="selected">All</option>
        {% for subcorpus in selected_corpus.subcorpus_set.all %}
        <option value="{{subcorpus.pk}}">{{subcorpus.title}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="document">Document:</label>
      <select id="document" class="form-control" name="document">
        <option value="all" selected="selected">All</option>
        {% for document in selected_corpus.documents.all %}
        <option value="{{document.pk}}">{{document.title}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="include_non_targets"> Include non-targets and incorrect translations
        </label>
      </div>
    </div>

    <div class="form-group">
      <button class="download btn btn-primary">Download</button>
      <span class="loading"><div class="lds-dual-ring"></div></span>
    </div>
    <input type="hidden" name="language" value="{{ language_to.iso }}"/>
  </form>
</div>
<script>
  $(function() {
    $('#corpus').change(function(event) {
      var corpus_id = $('#corpus').val();
      window.location.href = "{% url 'annotations:prepare_download' language=language_to.iso %}" + '/' + corpus_id;
    });

    $('#download').submit(function(event) {
      var form = $(this);

      $('button.download').attr('disabled', true);
      $('.loading').show();

      $.ajax({
        method: 'GET',
        url: form.attr('action'),
        data: form.serialize(),
        success: function() {
          window.location.href = "{% url 'annotations:download_ready' %}";
          $('button.download').attr('disabled', false);
          $('.loading').hide();
        }
      });
      event.preventDefault();
    });
  });
</script>
{% endblock %}
