{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block content %}
<div class="container">
  <h1>Download Annotation File - {{ language }}</h1>
  <p class="lead">
    Please select the required corpus and documents below:
  </p>

  <form>
    <div class="form-group">
      <label for="corpus">Corpus:</label>
      <select id="corpus" class="form-control">
        {% for corpus in corpora %}
        <option value="{{corpus.id}}" {% if corpus.id == selected_corpus.id %}selected="selected"{% endif %}>{{corpus.title}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="document">Document:</label>
      <select id="document" class="form-control" multi>
        {% for document in selected_corpus.documents.all %}
        <option value="{{document.id}}">{{document.title}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <button id="download" class="btn btn-primary">Download</button>
    </div>
  </form>
</div>
<script>
  $(function() {
    $('#corpus').change(function(event) {
      var corpus_id = $('#corpus').val();
      window.location.href = "{% url 'annotations:prepare_download' language=language %}" + '/' + corpus_id;
    });

    $('#download').click(function(event) {
      var document_id = $('#document').val();
      window.location.href = "{% url 'annotations:prepare_download' language=language corpus=selected_corpus.id %}" + '/' + document_id;
      return false;
    });
  });
</script>
{% endblock %}
