{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block content %}
<div class="container">
    <h1>Matrix overview</h1>

    <div class="alert alert-info" role="alert">
        NT means no translation was available,
        NA means there was no proper translation of the target words in the translated text,
        - means the selected words in the original fragment did not form a present perfect.
        Click on a cell to get details on the fragment.
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="10%">Document</th>
                <th width="10%">{{ language.title }}</th>
                {% for l in other_languages %}
                <th width="10%">{{ l.title }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for fragment in fragments %}
            <tr>
                <td>{{ fragment.document.title }} - {{ fragment.id }}</td>
                <td>
                    {% if show_tenses %}
                    present perfect
                    {% else %}
                    {{ fragment.target_words }}
                    {% endif %}
                </td>
                {% for annotation in fragment.get_annotations %}
                <td>
                    {% if annotation and annotation.is_translation and not annotation.is_no_target %}
                    <a href="{% url 'annotations:edit' annotation.id %}">
                        {% if show_tenses %}
                        {{ annotation.tense }}
                        {% else %}
                        {{ annotation.selected_words }}
                        {% endif %}
                    </a>
                    {% elif annotation and annotation.is_no_target %}
                    <a href="{% url 'annotations:edit' annotation.id %}">-</a>
                    {% elif annotation %}
                    <a href="{% url 'annotations:edit' annotation.id %}">NA</a>
                    {% else %}
                    NT
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
    {% bootstrap_pagination page_obj %}
    {% endif %}
</div>
{% endblock %}
