{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block content %}
<style>
.selected {
    background-color: lightgreen;
}

.in-dialogue {
    font-style: italic;
}

.label {
  margin-left: 5px;
}
</style>

<div class="container">
    <h1>Fragment overview</h1>

    <h2>Source</h2>
    <h3 data-pk="{{ fragment.pk }}">
        {{ fragment.language.title }}
        <span class="label label-default pull-right">{{ fragment.document.title }}</span>
        <span class="label label-primary pull-right">{{ fragment.label }}</span>
        {% if fragment.document.corpus.check_structure %}
        <span class="label label-warning pull-right">{{ fragment.get_formal_structure_display }}</span>
        <span class="label label-primary pull-right">{{ fragment.get_sentence_function_display }}</span>
        {% endif %}
    </h3>

    <!-- {{fragment.document.build_etree}} -->
    {% include "annotations/_sentences.html" with sentences=fragment.sentence_set.all tooltips=1 %}

    <h2>Translations</h2>
    {% for language, annotation in fragment.get_annotations %}
    {% if forloop.counter0|divisibleby:2 %}<div class="row">{% endif %}
        <div class="col-md-6 {% if not annotation %} text-muted {% endif %}">
            <h3 data-pk="{{ annotation.pk }}">
                {{ language }}
                {% if annotation.comments %}
                <span class="label label-info pull-right" title="{{ annotation.comments }}">
                  <span class="glyphicon glyphicon-comment"></span>
                </span>
                {% endif %}
                {% if annotation %}
                <a href="{% url 'annotations:edit' annotation.pk %}" role="button" class="label label-info pull-right" title="Edit">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
                {% endif %}
                <span class="label label-primary pull-right">{{ annotation.label }}</span>
                {% if fragment.document.corpus.check_structure and annotation.is_not_same_structure%}
                <span class="label label-danger pull-right">{% if fragment.formal_structure == 1 %}dialogue{% else %}narration{% endif %}</span>
                {% endif %}
            </h3>
            {% if annotation %}
                {% include "annotations/_sentences.html" with sentences=annotation.alignment.translated_fragment.sentence_set.all tooltips=1 annotated_words=annotation.words.all %}
            {% else %}
            No annotation available.
            {% endif %}
        </div>
    {% if forloop.counter|divisibleby:2 %}</div>{% endif %}
    {% endfor %}
</div>

<script>
$(function() {
    $(".tooltiptext").hide();

    $(".alignment span").each(function() {
        $(this).qtip({
            content: {
                text: $(this).next(".tooltiptext")
            }
        });
    });
});
</script>
{% endblock %}
