{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block content %}
<style>
.selected {
    background-color: lightgreen;
}

.in-dialogue {
    font-style: italic;
}
</style>

<div class="container">
    <h1>Fragment overview</h1>

    <h2>Source</h2>
    <h3>
        {{ fragment.language.title }}
        <span class="label label-default pull-right">{{ fragment.document.title }} - {{ fragment.id }}</span>
        <span class="label label-primary pull-right">{{ fragment.tense|default:"Perfect" }}</span>
    </h3>
    {% include "annotations/_sentences.html" with sentences=fragment.sentence_set.all tooltips=1 %}

    <h2>Translations</h2>
    {% for annotation in fragment.get_annotations %}
    {% if forloop.counter|divisibleby:2 %}<div class="row">{% endif %}
        <div class="col-md-6">
            <h3>
                {{ annotation.alignment.translated_fragment.language.title }}
                <span class="label label-primary pull-right">{{ annotation.label }}</span>
            </h3>
            {% include "annotations/_sentences.html" with sentences=annotation.alignment.translated_fragment.sentence_set.all tooltips=1 annotated_words=annotation.words.all %}
        </div>
    {% if forloop.counter|divisibleby:2 %}</div>{% endif %}
    {% endfor %}
</div>

<script>
$(function() {
    $(".tooltiptext").hide();

    $(".alignment span").each(function() {
        $(this).qtip({
            content: {
                text: $(this).next(".tooltiptext")
            }
        });
    });
});
</script>
{% endblock %}
