{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block content %}
<style>
.progress {
    margin-bottom: 0px;
}
</style>

<div class="container">
    <h1>Welcome!</h1>
    <p class="lead">
        Hi <em>{{ user.username }}</em>! Please select your languages of choice below and start annotating.
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="10%">Original language</th>
                <th width="10%">Translated language</th>
                <th width="60%">Annotated</th>
                <th width="20%">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for l1, l2, annotated, total in languages %}
            <tr>
                <td>{{ l1.title }}</td>
                <td>{{ l2.title }}</td>
                <td>
                    {% if annotated > 0 %}
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {% widthratio annotated total 100 %}%">
                            Annotated {{ annotated }} of {{ total }}
                        </div>
                    </div>
                    {% elif total > 0 %}
                    No annotations made yet.
                    {% else %}
                    No work to do.
                    {% endif %}
                </td>
                <td>
                    {% if annotated < total %}
                    <a href="{% url 'annotations:choose' l1.iso l2.iso %}" role="button" class="btn btn-default btn-xs" title="Start annotating">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    </a>
                    {% endif %}
                    <a href="{% url 'annotations:list' l1.iso l2.iso %}" role="button" class="btn btn-default btn-xs" title="List view">
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                    </a>
                    <a href="{% url 'annotations:matrix' l1.iso %}" role="button" class="btn btn-default btn-xs" title="Matrix view">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    </a>
                    <a href="{% url 'annotations:prepare_download' l2.iso %}" role="button" class="btn btn-default btn-xs" title="Download spreadsheet">
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if current_corpora %}
    <h3>You are currently working on (click on a corpus to filter your status overview):</h3>
    <ul>
    {% for corpus in current_corpora %}
        <li><a href="{% url 'annotations:status' corpus.pk %}">{{ corpus.title }}</a></li>
    {% endfor %}
    </ul>
    {% if corpus_pk %}
    <p>Your status overview has been filtered. <a href="{% url 'annotations:status' %}">Show status overview for all corpora</a></p>
    {% endif %}
    {% endif %}
</div>
{% endblock %}
