{% extends "annotations/base.html" %}

{% load bootstrap3 %}

{% block content %}
<div class="container">
    <h1>Instructions</h1>
    <div>
        <p class="lead">
            Haven't used TimeAlign yet? Or would you like to refresh your memory?
            This set of instructions should make clear how to align constructions with TimeAlign.
        </p>
        <a class="btn btn-success btn-lg pull-right" href="{% url 'annotations:instructions' 2 %}" role="button">Continue &raquo;</a>
    </div>
</div>
{% endblock %}
