{% extends "base/base.html" %}

{% load bootstrap3 %}
{% load static %}

{% block head %}
<script src="{% static 'annotations/selection.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Instructions (part 3)</h1>
    <div>
        <p class="lead">
            After you've selected a language pair, you will be presented with two fragments.
            The fragment on the left contains a construction in the source language, which is <span class="selected">marked in green</span>.
            On the right, you should find a translation of this fragment, and ideally, you are able to select a matching construction there.
        </p>
        <div class="alert alert-info" role="alert">
            Please select the matching construction on the right by clicking on 'ist' and 'gekommen'. The order of clicking is not important.
            After that, click the 'Submit' button to continue.
        </div>
        {% url "annotations:instructions" 4 as next_url %}
        {% include "annotations/_instructions4.html" %}
        {% include "annotations/_instructions_buttons.html" with url=next_url %}
    </div>
</div>

<script>
$(function() {
    $(".tooltiptext").hide();

    $(".alignment span").each(function() {
        $(this).qtip({
            content: {
                text: $(this).next(".tooltiptext")
            }
        });
    });

    $("#submit").click(function(event) {
        var all_selected = true;
        $(".to-select").each(function() {
            all_selected &&= $(this).hasClass("selected");
        });

        if (!all_selected) {
            event.preventDefault();
            $(".alert").removeClass("alert-info");
            $(".alert").addClass("alert-danger");
        }
    });
});
</script>
{% endblock %}
