{% extends "annotations/base.html" %}

{% load bootstrap3 %}

{% block content %}
<div class="container" style="margin-top: 60px;">
    <h1>Instructions (part 4)</h1>
    <div>
        <p class="lead">
            In some cases, there is no suitable target translation for the given construction.
            In that case, you should select the checkbox <em>There is no present perfect in the original fragment</em>.
        </p>
        <div class="alert alert-info" role="alert">
            Please select the correct checkbox.
            After that, click the 'Submit' button to continue.
        </div>
        {% url "annotations:instructions" 5 as next_url %}
        {% include "annotations/_annotation_instructions.html" with url=next_url %}
    </div>
</div>

<script>
$(function() {
    $(".tooltiptext").hide();

    $(".alignment span").each(function() {
        $(this).qtip({
            content: {
                text: $(this).next(".tooltiptext")
            }
        });
    });

    $(".translated span").click(function() {
        $(this).toggleClass("bg-success");
    });

    $("#submit").click(function(event) {
        if (!$("#id_is_no_target").prop("checked")) {
            event.preventDefault();
            $(".alert").removeClass("alert-info");
            $(".alert").addClass("alert-danger");
        }
    });
});
</script>
{% endblock %}
