{% extends "base/base.html" %}

{% load bootstrap3 %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.21/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.21/datatables.js"></script>
{% endblock %}

{% block content %}
    <h1>Labels overview - {{ corpus }}</h1>

    <p id="column_toggles">
      By corpus:
      {% for corpus in corpora %}
        <a href="{% url 'annotations:labels' corpus.pk %}">{{corpus.title}}</a>
        {% if not forloop.last %} | {% endif %}
      {% endfor %}
    </p>
    <p>
      <a href="{% url 'annotations:labels' %}">Show all</a>
    </p>
    <table id="labels_table" class="table table-striped table-condensed">
        <thead>
        <tr>
          {% for key in label_keys %}
            <th>{{key.title}}</th>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for ls in labels %}
                <tr>
                {% for label in ls %}
                    <td {% if label.color %}class="has-bg" bgcolor="{{ label.color }}"{% endif %}>
                      {{ label.title }}
                      {% if label.language %}({{ label.language }}){% endif %}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
     function fixForegroundColors() {
         // Adapted from http://stackoverflow.com/a/1855903/186965

         var cells = document.querySelectorAll('.has-bg');
         var colourIsLight = function (r, g, b) {
             var a = 1 - (0.299 * r + 0.587 * g + 0.114 * b) / 255;
             return (a < 0.5);
         };

         var colourFromRgb = function (r, g, b) {
             return 'rgb(' + r + ',' + g + ',' + b + ')';
         };

         var hexColorToRgb = function (color) {
             var hexStrs = [color[1]+color[2], color[3]+color[4], color[5]+color[6]];
             return [parseInt(hexStrs[0], 16), parseInt(hexStrs[1], 16), parseInt(hexStrs[2], 16)];
         };

         cells.forEach(function(el) {
             var bgRgb = hexColorToRgb(el.bgColor);
             var textColor = colourIsLight(bgRgb[0], bgRgb[1], bgRgb[2]) ? 'black' : 'white';
             el.style.color = textColor;
         });
     }

     $(function() {
         fixForegroundColors();
         var table = $('#labels_table').DataTable({
             paging: false,
         });
     });
    </script>
{% endblock %}
