{% extends "base/base.html" %}

{% load bootstrap3 %}
(% load custom_tags %}
{% block content %}

<div class="container">
    <h1>{{ source.document.corpus.title }} - {{ source.document.title }} - {{ source.language.title }}</h1>

    <form action="{% url 'annotations:source' source.pk %}" method="GET">
        <div class="form-group">
            <label for="additional_source">Additional source:</label>
            <select id="additional_source" class="form-control" name="additional_source">
                {% for additional_source in additional_sources %}
                <option value="{{ additional_source.pk }}">{{ additional_source.language }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Show additional source</button>
            <a href="{% url 'annotations:source' source.pk %}" class="btn btn-default" role="button">
                Remove additional source
            </a>
        </div>
    </form>

    <h2>Content with annotations</h2>

    {% if additional_sentences %}
    <div class="row">
        <div class="col-md-6">
            <h3>{{ source.language.title }}</h3>
            {{ sentences | safe }}
        </div>
        <div class="col-md-6">
            <h3>{{ additional_source.language.title }}</h3>
            {{ additional_sentences | safe }}
        </div>
    </div>
    {% else %}
        {{ sentences | safe }}
    {% endif %}

    {% if failed_lookups %}
    <h2>Failed lookups</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    XML id
                </th>
                <th>
                    Source words
                </th>
                <th>
                    Target words
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            {% for annotation in failed_lookups %}
            {% with fragment=annotation.alignment.original_fragment %}
            <tr>
                <td>
                    {{ fragment.first_sentence.xml_id }}
                </td>
                <td>
                    {{ fragment.target_words }}
                </td>
                <td>
                    {{ annotation.selected_words }}
                </td>
                <td>
                    <a href="{% url 'annotations:show' fragment.pk %}" role="button" class="btn btn-primary btn-xs" title="View fragment">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
            {% endwith %}
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

{% endblock %}
