{% load bootstrap3 %}

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">{% bootstrap_icon "home" %}</a></li>
                <li>
                    <a href="#">The project <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'project' %}">Project Description</a></li>
                        <li><a href="{% url 'nl-summary' %}">Summary in Dutch</a></li>
                        <li><a href="{% url 'collaborations' %}">Collaborations</a></li>
                        <li><a href="{% url 'videos' %}">Videos</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'publications' %}">Publications</a></li>
                <li><a href="{% url 'student-research' %}">Student Research</a></li>
                <li>
                    <a href="#">Meetings <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'workshops' %}">Workshops</a></li>
                        <li><a href="{% url 'expert-meetings' %}">Expert meetings</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Translation Mining <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'translation-mining' %}">Introduction</a></li>
                        <li>
                            <a href="#">PerfectExtractor <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'perfectextractor' %}">Introduction</a></li>
                                <li><a href="https://github.com/UUDigitalHumanitieslab/perfectextractor" target="_blank">Source Code</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">VPSelect <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'selections:introduction' %}">Introduction</a></li>
                                <li><a href="{% url 'selections:instructions' 1 %}">Instructions</a></li>
                                {% if user.is_authenticated and perms.selections.change_selection %}
                                <li><a href="{% url 'selections:status' %}">Status Overview</a></li>
                                {% endif %}
                                <li><a href="https://github.com/UUDigitalHumanitieslab/timealign" target="_blank">Source Code</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">TimeAlign <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'annotations:introduction' %}">Introduction</a></li>
                                <li><a href="{% url 'annotations:instructions' 1 %}">Instructions</a></li>
                                {% if user.is_authenticated and perms.annotations.change_annotation %}
                                <li><a href="{% url 'annotations:status' %}">Status Overview</a></li>
                                {% endif %}
                                <li><a href="https://github.com/UUDigitalHumanitieslab/timealign" target="_blank">Source Code</a></li>
                            </ul>
                        </li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'stats:scenarios' %}">Results</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><p class="navbar-text">Signed in as <em>{{ user.username }}</em></p></li>
                <li><a href="{% url 'logout' %}?next={% url 'home' %}">Log out</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Log in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
