<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static 'core/images/favicon.ico' %}">

        <title>Time in Translation</title>

        {# Load the tag library #}
        {% load bootstrap3 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery=1 %}

        {# Load the SmartMenus library #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.smartmenus/1.0.0/jquery.smartmenus.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.smartmenus/1.0.0/addons/bootstrap/jquery.smartmenus.bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.smartmenus/1.0.0/addons/bootstrap/jquery.smartmenus.bootstrap.min.css">

        {# Load the qTip library #}
        <script src="https://cdn.jsdelivr.net/qtip2/3.0.3/basic/jquery.qtip.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/qtip2/3.0.3/basic/jquery.qtip.min.css">

        {# Load the Select2 library #}
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
        
        {# Custom CSS #}
        <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'core/nav.css' %}" />

        {# Allow for extra scripts and stylesheets #}
        {% block head %}{% endblock %}
    </head>

    <body>
        {% include "base/_menu.html" %}

        <div class="container">
            <div>{% bootstrap_messages %}</div>

            <div>{% block content %}{% endblock %}</div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <img class="img-responsive" alt="Logo Utrecht University" src="{% static 'core/images/uu-logo.svg' %}">
                    </div>
                    <div class="col-sm-6">
                        <p>
                            &copy; 2019 <a href="https://www.uu.nl/en/research/utrecht-institute-of-linguistics-ots" target="_blank">UiL OTS</a>, Utrecht University.
                            <br/>
                            Research funded by <a href="https://www.nwo.nl/en" target="_blank">NWO</a> under grant 360-80-070.
                            <br/>
                            Powered by the <a href="http://dig.hum.uu.nl/" target="_blank">Digital Humanities Lab</a>, Utrecht University.
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <img class="img-responsive" alt="Logo NWO" src="{% static 'core/images/nwo-logo.png' %}">
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
