<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static 'core/images/favicon.ico' %}">

        <title>Time in Translation</title>

        {# Load the tag library #}
        {% load bootstrap3 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery=1 %}

        {# Load the SmartMenus library #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.smartmenus/1.0.0/jquery.smartmenus.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.smartmenus/1.0.0/addons/bootstrap/jquery.smartmenus.bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.smartmenus/1.0.0/addons/bootstrap/jquery.smartmenus.bootstrap.min.css">

        {# Load the qTip library #}
        <script src="https://cdn.jsdelivr.net/qtip2/3.0.3/basic/jquery.qtip.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/qtip2/3.0.3/basic/jquery.qtip.min.css">

        {# Load the Select2 library #}
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

        {# Custom CSS #}
        <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'core/nav.css' %}" />

        {# Allow for extra scripts and stylesheets #}
        {% block head %}{% endblock %}
    </head>

    <body>
        {% include "base/_menu.html" %}

        {% if container_fluid %}
            <div class="container-fluid">
        {% else %}
            <div class="container">
        {% endif %}
            <div>{% bootstrap_messages %}</div>

            <div>{% block content %}{% endblock %}</div>
        </div>

        <footer>
            {% include "base/_footer.html" %}
        </footer>
    </body>
</html>
