{% load bootstrap3 %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'core:home' %}">Translation Mining</a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'core:researcher' %}">For researchers</a></li>
                <li><a href="{% url 'core:teacher' %}">For teachers</a></li>
                <li><a href="{% url 'core:student' %}">For students</a></li>
            </ul>
        </div>
    </div>
</nav>
