{% extends "landing/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load i18n %}
{% block head %}
{% endblock %}

{% block menulist %}
{% endblock %}

{% block content %}

    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">Parallel Corpora and Linguistic Analysis</h1>
                <hr/>
                <h2 class="masthead-subheading mb-0">Parallel Corpora and Linguistic Analysis is an innovative methodology for investigating variation
                    across
                    languages.</h2>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-offset-2 col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">Why Parallel Corpora and Linguistic Analysis?</h2>
                    <hr class="primary"/>
                    <p>
                        Parallel Corpora are corpora that contain the same texts in different languages. The best-known example is <em>Europarl</em>
                        [Koehn
                        2005] that compiles the multilingual minutes of the European Parliament. Parallel corpora are central to translation studies,
                        contrastive linguistics, and statistical machine translation. Typology and comparative linguistics have followed suit in
                        recent years and there is an ever-growing number of smaller and bigger parallel corpus compilation initiatives.
                    </p>
                    <p>
                        However, from the perspective of linguistic analysis, the question remains how to best exploit the potential of parallel
                        corpora in a methodologically sound way. What we need for this is a joint effort to extend methodological insights from other
                        branches of corpus linguistics to parallel corpus linguistics, to explore new avenues of analysis that do justice to the
                        parallel nature of the data, and – above all – to probe the limits of parallel corpus data by investing in their analysis and
                        in the replication of findings.
                    </p>
                    <p>
                        The Parallel Corpora and Linguistic Analysis initiative (PCLA) is an informal network of linguists working on parallel corpora
                        who share the above aims and exchange knowledge, resources, and ideas on a regular basis. This webpage keeps track of their
                        activities and of parallel corpus research more generally.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="secondary-section">
        <div class="container secondary-section">
            <div class="row align-items-center">
                <div class="col-lg-12 mx-auto text-center">
                    <h2 class="section-heading">Who is it for?</h2>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center m-4">
                        <div class="card-body">
                            <h3 class="card-title">
                                Researchers
                            </h3>
                            <hr/>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rutrum.</p>
                            <a href="{% url 'core:researcher' %}" class="btn main">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center m-4">
                        <div class="card-body">
                            <h3 class="card-title">
                                Teachers
                            </h3>
                            <hr/>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rutrum.</p>
                            <a href="{% url 'core:teacher' %}" class="btn main">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center m-4">
                        <div class="card-body">
                            <h3 class="card-title">
                                Students
                            </h3>
                            <hr/>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rutrum.</p>
                            <a href="{% url 'core:student' %}" class="btn main">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-offset-2 col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <hr class="primary"/>
                    <p class="mb-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt
                        in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <a href="#" class="btn main">Contact</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}