{% extends "landing/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block head %}
{% endblock %}

{% block menu %}
    {% load bootstrap3 %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'core:home' %}">Translation Mining</a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">For Teachers</a></li>
                    <li><a href="#">Relevant Publications</a></li>
                    <li><a href="#">How To Apply</a></li>
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}

{% block content %}

    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading">Translation Mining for teachers</h1>
                <hr/>
                <h2 class="masthead-subheading">
                    Translation Mining is an innovative methodology for investigating variation across languages.
                </h2>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-offset-3 col-lg-6 mx-auto text-center">
                    <h2 class="section-heading">Details</h2>
                    <hr class="primary">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}